<html>
	<head>
		<title>websiite</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<nav class='navbar navbar-expand-lg text-dark' style='background:#ff9966;'>
			<h1 class='navbar-brand'style='font-size:40px; color:white'>INFORMATION</h1>
			<ul class='navbar-nav ml-auto'>
				<li class='nav-item actives'><a class='nav-link text-light'href='/loginindex'>Home</a></li>
				<li class='nav-item actives'><a class='nav-link text-light'href='/addblog'>Add Blog</a></li>
				<li class='nav-item'><a class='nav-link text-light' href='/logout1'>Logout</a></li>
			</ul>
		</nav>
		<div class='container-fluid mt-5'>
				<div class='row'>
				{% for row in datas %}
					<div class='col-md-3 mt-5'>
						<div class='card'>
							<img src='{{url_for("static",filename="images/"+row.bimg)}}'style='width:350px; height:200px;border:6'>
							<div class='card-body'>
									<div>
										<p align='center' style='font-size:20px;font-weight:bold;'>{{row.bname}}</p><hr>
										<p>Name: {{row.Name}}</p>
										<p>Date & Time:  {{row.bdate}}</p>
										<p>Description: {{row.desp}}</p>
									</div>
							</div>
						</div>
					</div>
				{% endfor %}	
				</div
		</div>
	</body>
</html>